/* styles.css */
body {
    font-family: 'Arial', sans-serif;
}

.hero {
    background: url('../assets/img/Screenshot.png') no-repeat center center;
    background-size: cover;
}

.features .col-lg-4 {
    margin-bottom: 30px;
}

footer {
    background: #f8f9fa;
}
